{{- if and .Values.istio.enabled .Values.istio.console.enabled .Values.istio.console.virtualService.enabled -}}
apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: {{ template "twistlock-console.name" . }}
  namespace: {{ .Release.Namespace }}
  {{- if .Values.istio.console.labels }}
  labels: {{- include "twistlock-console.labels" . | nindent 4 }}
{{ toYaml .Values.istio.console.labels | indent 4 }}
  {{- end }}
  {{- if .Values.istio.console.annotations }}
  annotations:
{{ toYaml .Values.istio.console.annotations | indent 4 }}
  {{- end }}
spec:
  gateways:
  {{- range .Values.istio.console.gateways }}
    - {{ . }}
  {{- end }}
  hosts:
  {{- range .Values.istio.console.hosts }}
    - {{ tpl . $ }}
  {{- end }}
  http:
  - route:
    - destination:
        port:
          number: {{ .Values.console.ports.managementHttp }}
        host: {{ template "twistlock-console.name" . }}.{{ .Release.Namespace }}.svc.cluster.local
{{- end }}
