{{- if and .Values.networkPolicies.enabled .Values.istio.enabled .Values.istio.console.enabled .Values.istio.console.virtualService.enabled -}}

apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: istio-ingress
  namespace: {{ .Release.Namespace }}
  labels: {{- include "twistlock-console.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels: {{- include "twistlock-console.selector" . | nindent 6 }}
  policyTypes:
    - Ingress
  ingress:
    - from:
      - namespaceSelector:
          matchLabels:
{{- if .Values.networkPolicies.istioNamespaceSelector }}
            app.kubernetes.io/name: {{ .Values.networkPolicies.istioNamespaceSelector.ingress }}
{{- end }}
        podSelector:
          matchLabels:
{{- toYaml .Values.networkPolicies.ingressLabels | nindent 12 }}
      ports:
      {{- if .Values.istio.console.virtualService.enabled }}
      - port: {{ .Values.console.ports.managementHttp }}
        protocol: TCP
      {{- end }}
      - port: {{ .Values.console.ports.managementHttps }}
        protocol: TCP
      - port: {{ .Values.console.ports.communication }}
        protocol: TCP
{{- end }}
