{{- if .Values.init.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "twistlock-console.name" . }}
  labels: {{- include "twistlock-init.labels" . | nindent 4 }}
stringData:
  TWISTLOCK_CONSOLE_SERVICE: {{ template "twistlock-console.name" . }}
  TWISTLOCK_CONSOLE_SERVICE_PORT_HTTP_MGMT_HTTP: "{{ .Values.console.ports.managementHttp }}"
  {{- if .Values.console.license }}
  TWISTLOCK_LICENSE: {{ .Values.console.license }}
  {{- end }}
  TWISTLOCK_LOGGING: {{ .Values.console.options.logging | quote }}
  TWISTLOCK_MONITORING: {{ .Values.monitoring.enabled | quote }}
  TWISTLOCK_NETWORK_CONTAINER: {{ .Values.console.options.network.container | quote }}
  TWISTLOCK_NETWORK_HOST: {{ .Values.console.options.network.host | quote }}
  TWISTLOCK_OPTIONS_ENABLED: {{ .Values.console.options.enabled | quote }}
  TWISTLOCK_PASSWORD: {{ required "Valid credentials are required when init is enabled." .Values.console.credentials.password }}
  TWISTLOCK_TELEMETRY: {{ .Values.console.options.telemetry | quote }}
  TWISTLOCK_INTELLIGENCE_UPLOAD_DISABLED: {{ .Values.console.options.intelligence.uploadDisabled | quote }}
  TWISTLOCK_SCAN_SCAN_RUNNING_IMAGES: {{ .Values.console.options.scan.scanRunningImages | quote }}
  TWISTLOCK_LOGON_USE_SUPPORT_CREDENTIALS: {{ .Values.console.options.logon.useSupportCredentials | quote }}
  TWISTLOCK_LOGON_REQUIRE_STRONG_PASSWORD: {{ .Values.console.options.logon.requireStrongPassword | quote }}
  TWISTLOCK_LOGON_BASIC_AUTH_DISABLED: {{ .Values.console.options.logon.basicAuthDisabled | quote }}
  TWISTLOCK_USERNAME: {{ required "Valid credentials are required when init is enabled." .Values.console.credentials.username }}
  
    {{- if .Values.console.groups }}
  TWISTLOCK_GROUPS: |-
    {{- range .Values.console.groups }}
    {{ required "desired group name" .group }}
    {{- required "Role is required for groups." .role | indent 1 }}
    {{- default "oidcGroup" .authType | indent 1 }}
    {{- end }}
  TWISTLOCK_USERS_UPDATE: {{ .Values.console.updateUsers | quote }}
  {{- end }}
  
  {{- if .Values.console.additionalUsers }}
  TWISTLOCK_USERS: |-
    {{- range .Values.console.additionalUsers }}
    {{ required "Username is required for additional users." .username }}
    {{- required "Role is required for additional users." .role | indent 1 }}
    {{- default "basic" .authType | indent 1 }}
    {{- default "" .password | indent 1 }}
    {{- end }}
  TWISTLOCK_USERS_UPDATE: {{ .Values.console.updateUsers | quote }}
  {{- end }}
  TWISTLOCK_TRUSTED_IMAGE_ENABLED: {{ .Values.console.trustedImages.enabled | quote }}
  TWISTLOCK_TRUSTED_IMAGE_NAME: {{ .Values.console.trustedImages.name | quote }}
  TWISTLOCK_TRUSTED_IMAGE_REGISTRIES: |-
    {{- range .Values.console.trustedImages.registryMatches }}
    {{ . }}
    {{- end }}
  TWISTLOCK_TRUSTED_IMAGE_EFFECT: {{ .Values.console.trustedImages.defaultEffect | quote }}
  TWISTLOCK_ISTIO_URL: {{ tpl (first (index .Values.routes.inbound "console").hosts) . }}
{{- end }}
